@import "themes/default";

.tabbar {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 3.0625rem;
  background: #ffffff;
  z-index: 999;

  &:before {
    position: absolute;
    content: '';
    background: #ddd;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
  }

  a {
    color: #888
  }

  &>.active,
  &>.active a {
    color: @primary-color
  }

  .tabbar-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;

    .icon {
      position: relative;
      font-size: 17px;
      margin-bottom: 2px;
    }

    .badge {
      position: absolute;
      left: 100%;
      top: -2px;
      margin-left: -10px;
      padding: 2px 5px;
      font-size: .625rem;
      min-width: 0
    }

    &.active {
      cursor: default;
      pointer-events: none;

      .icon {
        animation-duration: .3s;
        animation-fill-mode: both;
        animation-name: pulse;
      }

      .icon-home:before {
        content: '\e849';
      }

      .icon-park:before {
        content: '\e854'; 
      }

      .icon-server:before {
        content: '\e850';
      }

      .icon-my:before {
        content: '\e84a';
      }
    }
  }

  .tabbar-label {
    position: relative;
    display: block;
    text-align: center;
    font-size: 10px;
  }
}

