/*tabs-list-body*/
.tabs-list-body {
  height: 100%;
}

.tabs-list-body .am-wingblank {
  height: 100%;
}

.tabs-list-body .am-wingblank .am-list-body {
  background-color: rgba(0, 0, 0, 0);
}
/*tabs-list-body-end*/
