/*首页*/
.zj-back1 {
  background-image: linear-gradient(300deg, rgb(47, 96, 210) 0%, rgb(76, 155, 249) 100%);
  background-image: -moz-linear-gradient(120deg, rgb(47, 96, 210) 0%, rgb(76, 155, 249) 100%);
  background-image: -webkit-linear-gradient(120deg, rgb(47, 96, 210) 0%, rgb(76, 155, 249) 100%);
  background-image: -ms-linear-gradient(120deg, rgb(47, 96, 210) 0%, rgb(76, 155, 249) 100%);
}

.zj-back2 {
  background-image: linear-gradient(300deg, rgb(0, 165, 145) 0%, rgb(0, 212, 190) 100%);
  background-image: -moz-linear-gradient(120deg, rgb(0, 165, 145) 0%, rgb(0, 212, 190) 100%);
  background-image: -webkit-linear-gradient(120deg, rgb(0, 165, 145) 0%, rgb(0, 212, 190) 100%);
  background-image: -ms-linear-gradient(120deg, rgb(0, 165, 145) 0%, rgb(0, 212, 190) 100%);
}

.zj-back3 {
  background-image: linear-gradient(300deg, rgb(230, 138, 40) 0%, rgb(255, 196, 127) 100%);
  background-image: -moz-linear-gradient(120deg, rgb(230, 138, 40) 0%, rgb(255, 196, 127) 100%);
  background-image: -webkit-linear-gradient(120deg, rgb(230, 138, 40) 0%, rgb(255, 196, 127) 100%);
  background-image: -ms-linear-gradient(120deg, rgb(230, 138, 40) 0%, rgb(255, 196, 127) 100%);
}

.zj-back4 {
  background-image: linear-gradient(300deg, rgb(224, 69, 61) 0%, rgb(255, 135, 129) 100%);
  background-image: -moz-linear-gradient(120deg, rgb(224, 69, 61) 0%, rgb(255, 135, 129) 100%);
  background-image: -webkit-linear-gradient(120deg, rgb(224, 69, 61) 0%, rgb(255, 135, 129) 100%);
  background-image: -ms-linear-gradient(120deg, rgb(224, 69, 61) 0%, rgb(255, 135, 129) 100);
}

.zj-back5 {
  background-image: linear-gradient(300deg, rgb(0, 172, 196) 0%, rgb(18, 213, 238) 100%);
  background-image: -moz-linear-gradient(120deg, rgb(0, 172, 196) 0%, rgb(18, 213, 238) 100%);
  background-image: -webkit-linear-gradient(120deg, rgb(0, 172, 196) 0%, rgb(18, 213, 238) 100%);
  background-image: -ms-linear-gradient(120deg, rgb(0, 172, 196) 0%, rgb(18, 213, 238) 100%);
}

.zj-back6 {
  background-image: linear-gradient(300deg, rgb(13, 162, 230) 0%, rgb(93, 209, 255) 100%);
  background-image: -moz-linear-gradient(120deg, rgb(13, 162, 230) 0%, rgb(93, 209, 255) 100%);
  background-image: -webkit-linear-gradient(120deg, rgb(13, 162, 230) 0%, rgb(93, 209, 255) 100%);
  background-image: -ms-linear-gradient(120deg, rgb(13, 162, 230) 0%, rgb(93, 209, 255) 100%);
}

.zj-back7 {
  background-image: linear-gradient(300deg, rgb(227, 76, 68) 0%, rgb(255, 127, 123) 100%);
  background-image: -moz-linear-gradient(120deg, rgb(227, 76, 68) 0%, rgb(255, 127, 123) 100%);
  background-image: -webkit-linear-gradient(120deg, rgb(227, 76, 68) 0%, rgb(255, 127, 123) 100%);
  background-image: -ms-linear-gradient(120deg, rgb(227, 76, 68) 0%, rgb(255, 127, 123) 100%);
}

.zj-back8 {
  background-image: linear-gradient(300deg, rgb(137, 137, 137) 0%, rgb(218, 218, 218) 100%);
  background-image: -moz-linear-gradient(120deg, rgb(137, 137, 137) 0%, rgb(218, 218, 218) 100%);
  background-image: -webkit-linear-gradient(120deg, rgb(137, 137, 137) 0%, rgb(218, 218, 218) 100%);
  background-image: -ms-linear-gradient(120deg, rgb(137, 137, 137) 0%, rgb(218, 218, 218) 100%);
}

.header-search {
  display: flex;
  width: 100%;
  height: 29px;
  align-items: center;
  border-radius: 26px;
  margin: 0 15px;
  padding: 0 15px;
}

.header-banner {
  position: relative;
  min-height: 212px;

  .text-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    text-align: center;
    z-index: 1;
  }

  .text1 {
    font-size: 17px;
    color: #00e3ff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33);
    line-height: 1.235;
    font-family: "PingFang SC";
  }

  .text2 {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    font-size: 12px;
    font-family: "PingFang SC";
  }

  .slider-decorator-0 {
    bottom: 30px !important;

    .am-carousel-wrap-dot {
      span {
        width: 7px;
        height: 3px;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.5);
      }

      &.am-carousel-wrap-dot-active {
        span {
          background-color: #fff !important;
        }
      }
    }
  }
}

.service-cl {
  .slider-decorator-0 {
    bottom: 40px !important;
  }

  .am-carousel-wrap-dot > span {
    width: 15px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
  }

  .am-carousel-wrap-dot-active > span {
    background-color: rgba(255, 255, 255, 1);
  }
}

.secretary {
  position: relative;
  margin: -30px 15px 0;
  background-color: @white-color;
  border-radius: 6px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
  z-index: 1;
  padding: 13px 10px;

  .tips {
    width: 38px;
  }
}

.secretary-carousel {
  font-size: 13px;
  pointer-events: none;

  .am-badge {
    line-height: 30px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;

    span {
      color: #00af9a;
    }

    .am-badge-dot {
      right: 0;
      top: 10px;
    }

    .date {
      line-height: 30px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
    }
  }
}

.park-sever-list {
  .am-grid-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row {

    span {
      display: block;
      font-size: 14px;
      padding-top: 9px;
      color: @gray-two-color;
    }

    .iconback {
      display: flex;
      width: 42px;
      height: 42px;
      border-radius: 42px;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      .icon {
        font-size: 22px;
        color: #fff;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.little-banner {
  height: 86px;

  .slider-decorator-0 {
    bottom: 10px !important;
    height: 4px;

    .am-carousel-wrap {
      height: 100%;
    }

    .am-carousel-wrap-dot {
      vertical-align: top;
    }

    span {
      width: 7px;
      height: 3px;
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .am-carousel-wrap-dot-active > span {
    background-color: rgba(255, 255, 255, 1);
  }

  .little-item {
    position: relative;
    height: 92px;

    span {
      position: absolute;
      left: 10px;
      bottom: 7px;
      background-color: #e3c314;
      color: #333;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      padding: 0 10px;
      border-radius: 20px;
      transform: scale(0.8);
    }
  }

  .swiper-slide {
    opacity: 0;
    transition: all 4s;

    &.swiper-slide-active {
      opacity: 1;
    }
  }
}

.idnex-policy {
  position: relative;

  .am-tag-disabled {
    margin-right: 15px;
    color: #008cd6;
    background: none;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  html:not([data-scale]) .idnex-policy .am-tag-disabled::before {
    border-color: #008cd6;
  }
}

.index-tabs {
  position: relative;

  .am-tabs-default-bar {
    padding: 0 15px;

    border-radius: 30px;
    font-size: 14px;
    color: #494949;
  }

  .am-tabs-default-bar-tab {
    width: 70px !important;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
    border-radius: 30px;
  }

  .am-tabs-default-bar-underline {
    display: none;
  }

  .am-tabs-default-bar-tab-active {
    color: #fff;
    background-color: #008cd6;
  }

}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  html:not([data-scale]) .index-tabs .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    border: 1px solid #dddddd;
    transform-origin: 0 0;
    background: none;
    transform: scale(0.6);
    border-radius: 60px;
  }

  html:not([data-scale]) .index-tabs .am-tabs-default-bar-top .am-tabs-default-bar-tab-active::after {
    border-color: #008cd6;
  }

  html:not([data-scale]) .hot-active .am-list-body::before {
    display: none;
  }

  html:not([data-scale]) .hot-active .am-list-body::after {
    display: none;
  }

  html:not([data-scale]) .hot-active .am-list-body div:not(:last-child) .am-list-line::after {
    display: none;
  }

}

.hot-active {

  // .am-list-content{
  //   padding: 15px 0 !important;
  // }
  // .am-list-line {
  //   &::after {
  //     opacity: 0;
  //   }
  // }

  .img {
    position: relative;
    border-radius: 6px;
    overflow: hidden;

    .tag {
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      width: 75px;
      height: 23px;
      text-align: center;
      line-height: 23px;
      color: #fff;
      background-color: #ff7600;
      font-size: 14px;
    }
  }

  .am-list-header {
    padding-bottom: 7px;
    padding-top: 20px;

    .tit {
      color: #000;
      font-size: 16px;
    }


  }
}

.morelink {
  display: inline-block;
  font-size: 12px;
  color: @primary-color;
  margin-right: 5px;

  &::after {
    content: " ";
    position: relative;
    top: -1px;
    display: inline-block;
    height: 7px;
    width: 7px;
    border-width: 1px 1px 0 0;
    border-color: @primary-color;
    border-style: solid;
    -webkit-transform: matrix(.71, .71, -.71, .71, 0, 0);
    transform: matrix(.71, .71, -.71, .71, 0, 0);
  }
}

.theme-white {
  .am-list {
    &.hot-policy {
      .am-list-header {
        padding-bottom: 0;

        .tit {
          color: #000;
          font-size: 18px;
        }
      }

      .am-list-item {

        .am-list-line {
          .am-list-content {
            padding: 12px 0;
          }
        }

        &:first-child {
          .am-list-line {
            .am-list-content {
              padding-top: 10px;
            }
          }
        }
      }

      .am-list-body::after {
        opacity: 0;
      }
    }
  }
}

.tag-color-box {
  position: relative;
  line-height: 1;
  margin-top: 2px;
}

.tag-color {
  margin-left: 8px;
  color: #888;

  &:first-child {
    margin-left: 0;
  }
}

.circle-percent {
  position: relative;
  font-size: 12px;
  white-space: nowrap;
  margin: 0 8px;
  width: 50px;
  height: 50px;

  .circle-percent-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    text-align: center;
    line-height: 1.4;
  }
}
