.notice-list {
  &.am-list {
    margin-top: 10px;
    margin-bottom: 30px;

    .am-swipe {
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      .am-card {
        box-shadow: inherit;
        border-radius: 8px;
      }
    }

    &.not-footer {
      margin-bottom: 20px;

      .am-list-header {
        color: #666666;
      }

      .am-list-body {
        & > div {
          background-color: rgba(0, 0, 0, 0) !important;
        }
      }

      .am-card {
        .am-card-body {
          padding-bottom: 0;
          padding-top: 5px;

          & > div {
            padding: 2px 0;
            font-size: 13px;
          }
        }
      }
    }

    .am-list-header {
      text-align: center;
      padding-bottom: 15px;
      color: #bcbcbc;
      background-color: rgba(0, 0, 0, 0) !important;
    }

    .am-list-body {
      border: none;

      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 0;
      }
    }

    .am-card {
      border-radius: 8px;
      padding: 15px;
      border: none;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);

      &::after {
        opacity: 0;
      }

      &::before {
        opacity: 0;
      }

      .am-card-header {
        padding: 0;

        .am-card-header-content {
          color: #05b8cd;
        }
      }

      .am-card-footer {
        padding: 15px 0 0 0;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          background-color: #e5e5e5;
          display: block;
          z-index: 1;
          top: 0;
          right: auto;
          bottom: auto;
          left: 0;
          width: 100%;
          height: 1px;
          -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          transform: scaleY(0.3);
        }

        &::after {
          content: " ";
          position: relative;
          top: 4px;
          display: inline-block;
          height: 7px;
          right: 4px;
          width: 7px;
          border-width: 1px 1px 0 0;
          border-color: #494645;
          border-style: solid;
          -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        }
      }

      .am-card-body {
        padding: 15px 0;
        line-height: 1.6;
        border: none;
        font-size: 13px;

        &::before {
          opacity: 0;
        }
      }
    }
  }
}

.news-box {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgb(167, 176, 194);
  width: 55px;
  height: 55px;
  color: #fefeff;
  font-size: 15px;
  text-align: center;
  line-height: 55px;
  margin: 15px 0;

}
