@import "../themes/default";
/*我的*/
@my: my;

.@{my}-user {
  padding: 0 0 10px 0;
  background-color: @primary-color;

  .am-list-body {
    .am-list-item {
      background-color: transparent;

      .am-list-line {
        padding-right: 0;

        .am-list-content {
          color: @white-color;
        }

        .am-list-brief {
          color: @white-color;
          font-size: 14px;
          font-weight: 300;

          em {
            margin: 0 8px;
            font-style: normal;
            font-size: 12px;
            vertical-align: top;
          }
        }
      }
    }

    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 0;
    }
  }

  a {
    color: @white-color;
  }
}

.@{my}-certification {
  position: absolute;
  bottom: -4px;
  left: 50%;
  padding: 2px 0;
  text-align: center;
  background-color: fade(@component-background, 90%);
  border: 1px solid @gray-five-color;
  width: 95%;
  font-size: 12px;
  border-radius: 2px;
  color: @gray-three-color;
  transform: translate(-50%, 0);

  i {
    font-size: 12px;
  }

  &.ok {
    color: @highlight-color;
    border: 1px solid @highlight-color;
  }
}

.@{my}-grid-box {
  position: relative;
}

.badge-right {
  position: absolute !important;
  left: 43px;
  top: -6px;
}

.@{my}-grid {
  .am-grid-item-content {
    padding: 15px 0;
  }

  .icon {
    color: @highlight-color;
    font-size: 26px;
  }

  .@{my}-grid-box-text {
    margin-top: 5px;
  }
}

.@{my}-user {
  .integral-position {
    background-color: #ffc56c;
    border-radius: 40px 0 0 40px;
    padding: 2px 12px 2px 14px;
    color: #fff;
    font-size: 12px;
    position: relative;

    .am-flexbox-item {
      text-align: center;
      margin-left: 4px;
    }

    .number {
      font-weight: bold;
      font-size: 15px;

      .spot {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ff0000;
      }
    }
  }

  .icon-icon0203 {
    font-size: 22px;
  }
}

/*退款售后*/

.my-order-text {
  padding-right: 5px;

  .omit {
    display: block;
  }
}

.my-oder-list {
  .am-list-content {
    padding-top: 12.5px !important;
    padding-bottom: 12.5px !important;
  }

  .order-content {
    .order-images {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px;
    }
  }

  .my-apply-btn {
    text-align: right;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-right: 5px;
    font-size: 0;
  }

  .am-list-item .am-list-line {
    display: block;
  }

  .my-order-text {
    width: 45vw !important;
    float: left;
  }
}

/*退款售后-end*/

/*我的end*/

/*个人信息*/

@mi: my-info;

.@{mi}-background {
  height: 35vh;
  width: 100%;
  position: relative;
  background: no-repeat center;
  background-size: cover;
}

.@{mi}-box {
  background-color: @white-color;
  position: relative;
  padding: 55px 0 10px;

  &:after {
    content: "";
    position: absolute;
    background-color: @gray-five-color;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: 50% 100%;
    transform: scaleY(0.5);
  }

  .@{mi}-img {
    position: absolute;
    top: -45px;
    width: 90px;
    height: 90px;
    background: no-repeat center;
    background-size: cover;
    border-radius: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, 0);

    img {
      border-radius: 50%;
    }
  }
}

/*个人信息end*/

/*个人信息编辑*/

@mu: my-upload;

.@{mu}-box {
  display: flex;

  .@{mu}-button {
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 5px 0;
    text-align: center;
    border: 1px solid @gray-four-color;
    border-radius: 50%;

    input {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .@{mu}-img-opacity {
      opacity: 0;
      z-index: 10;
    }

    .images-auto {
      border-radius: 50%;
    }
  }

  .@{mu}-button-white {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    text-align: center;
    border: 1px solid @gray-four-color;
    border-radius: 50%;

    input {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .@{mu}-img-opacity {
      opacity: 0;
      z-index: 10;
    }

    .images-auto {
      border-radius: 50%;
    }
  }
}

.extra-none {
  .am-input-extra {
    display: none;
  }
}

/*个人信息编辑end*/

/*新消息通知*/

@ifs: infoset;

.safety-link {
  .am-switch {
    transform: scale(0.7);
  }
}

.@{ifs}-tips {
  font-size: 12px;
  line-height: 1.5;
  color: @gray-three-color;
}

.@{ifs}-type-name {
  font-size: 17px;
  color: @gray-two-color;
}

.extra-auto {
  .am-list-item .am-list-line .am-list-extra {
    flex-basis: auto;
    margin-left: 10px;
  }
}

/*新消息通知end*/

/*关于我们*/
.edition {
  padding: 40px 40px 35px;
  text-align: center;

  span {
    display: inline-block;

    img {
      //width: 60px;
      height: 60px;
    }
  }

  p {
    margin: 10px 0 0 0;
    font-size: 16px;
    color: @gray-three-color;
  }
}
.editionabout{
  padding: 40px 40px 35px;
  text-align: left;
  word-break:break-all;
}


.my-upload-button-white{
  &.type-my{
    .am-image-picker{
      height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    opacity: 0;
    .am-image-picker-list{
      height: 100%;
      width: 100%;
      padding:0;
      margin:0;
      .am-flexbox{
        margin:0;
        height: 100%;
        width: 100%;
        .am-flexbox-item{
          display:none;
          &:first-child{
            display:block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    }
  }
}
